<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agregar Usuario</title>
</head>
<body>
    <h1>Agregar Nuevo Usuario</h1>
    <form action="{{ url_for('add_user_html') }}" method="POST">
        <label>Email:</label>
        <input type="email" name="email" required><br><br>

        <label>Hashed Password:</label>
        <input type="text" name="hashed_password" required><br><br>

        <label>First Name:</label>
        <input type="text" name="first_name" required><br><br>

        <label>Last Name:</label>
        <input type="text" name="last_name" required><br><br>

        <button type="submit">Guardar</button>
    </form>
</body>
</html>
